@import '../../style/variables.scss';
@import '../../style/adaptive.scss';

.char {
    &__content {
        margin-top: 50px;
        @include respond-to(1090px) {margin-top: 140px}
        @include respond-to(900px) {margin-top: 170px}
        display: grid;
        grid-template-columns: 650px 425px;

        @include respond-to(1240px) {
            grid-template-columns: 590px 384px;
        }

        @include respond-to(1090px) {
            grid-template-columns: auto
        }

        -moz-column-gap: 25px;
        column-gap: 25px;
        @include respond-to(740px) {
            -moz-column-gap: 0.5%;
            column-gap: 0.5%;
        }
        align-items: start;
    }

    &__grid {
        display: grid;
        
        grid-template-columns: repeat(3, 200px);
        @include respond-to(1240px) {grid-template-columns: repeat(3, 180px)}
        @include respond-to(1090px) {grid-template-columns: repeat(3, 266.666px)}
        @include respond-to(900px) {grid-template-columns: repeat(3, 233.33px)}
        @include respond-to(790px) {grid-template-columns: repeat(3, 210px)}
        @include respond-to(740px) {
            grid-template-columns: repeat(3, 33%);
            width: 100%;
        }
        @include respond-to(550px) {
            justify-content: space-between;
            grid-template-columns: repeat(2, 49%)
        }

        -moz-column-gap: 25px;
        column-gap: 25px;
        @include respond-to(740px) {
            -moz-column-gap: 0.5%;
            column-gap: 0.5%;
        }
        @include respond-to(550px) {
            grid-template-columns: repeat(2, 49%);
            -moz-column-gap: 0.5%;
            column-gap: 0.5%;
        }
        @include respond-to(380px) {grid-template-columns: none}
        row-gap: 30px;
    }

    &__item {
        width: 200px;
        @include respond-to(1240px) {width: 180px }
        @include respond-to(1090px) {width: 266.666px}
        @include respond-to(900px) {width: 233.33px}
        @include respond-to(790px) {width: 210px}
        @include respond-to(740px) {width: 100%}

        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        @include respond-to(590px) {box-shadow: none}
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;

        img {
            width: 200px;
            height: 200px;
            @include respond-to(1240px) {width: 180px; height: 180px}
            @include respond-to(1090px) {width: 266.666px; height: 266.666px}
            @include respond-to(900px) {width: 233.33px; height: 233.33px}
            @include respond-to(790px) {width: 210px; height: 210px}
            @include respond-to(740px) {
                width: calc(100% + 30px);
                height: 210px
            }
            @include respond-to(380px) {height: 300px}
            
            -o-object-fit: cover;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }

        &_selected {
            box-shadow: $itemHover;
            @include respond-to(590px) {box-shadow: none}
            transform: translateY(-8px);
            @include shadow
        }
    }

    &__name {
        font-weight: bold;
        font-size: 22px;
        @include respond-to(1240px) {font-size: 19px}
        @include respond-to(1240px) {font-size: 17px}
        @include respond-to(380px) {font-size: 24px}
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
    }
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 600ms ease-in;
}
