$main-color: #8d0414;
$dark: #232222;
$grey: #5C5C5C;
$itemHover: #6b003e;

@mixin shadow {
    animation: flickerShadow 1s ease-in-out infinite alternate;
}

@keyframes flickerShadow {
    0% {box-shadow: 0 0 0 $itemHover}
    100% {box-shadow: 0 0 40px $itemHover}
}