@import '../../style/variables.scss';
@import '../../style/adaptive.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {

        &-text {
            font-weight: bold;
            font-size: 28px;
            @include respond-to(1240px) {font-size: 24px}
            @include respond-to(900px) {font-size: 22px}
            line-height: 37px;
            span {color: $main-color;}
            @include respond-to(500px) {display: none; }
        }
        

        &-logo {
            display: none;
            @include respond-to(500px) {
                display: block;
                width: 88px;
            }
        }
    }

    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 28px;
            @include respond-to(1240px) {font-size: 24px}
            @include respond-to(900px) {font-size: 22px}

            line-height: 37px;

            li {
                margin: 0 8px;

                a:hover {
                    color: $main-color;
                }
            }
        }
    }
}